@font-face{
	font-family: allura;
	src: url('fonts/Allura-Regular.ttf');
}
body{
	background-color: #81c644;
	font-family: 'josefin sans',sans-serif;
}
nav{
	margin-top: -7%;
}
.wrapper{
	margin-top: 7%;
}
.wrapper h1{
	font-size: 52px;
	margin-bottom: 60px;
	text-align: center;
	font-family: 'allura',sans-serif;
}
.team{
	display: flex;
	text-align: center;
	width: auto;
	justify-content: center;
	flex-wrap: wrap;
}
.team .team-member{
	background: #fff;
	margin: 5px;
	margin-bottom: 50px;
	width: 300px;
	padding: 20px;
	line-height: 20px;
	position: relative;
}
.team .team-member h3{
	color: #81c644;
	font-size: 26px;
	margin-top: 50px;
}
.team .team-member p.role{
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	margin: 12px 0;
}
.team .team-member .team-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
}
.team .team-member img{
	width: 100px;
	height: 100px;
	padding: 5px;
}