@font-face{
	font-family: Raleway;
	src: url('fonts/Raleway-Regular.ttf');
}
body{
	font-family: sans-serif;
	color: #fff;
	background: url('images/4.jpeg');
	background-size: cover;
	position: ;
}
nav{
	margin-top: -150px;
}
.sign-in{
	background: rgba(44, 62, 80, 0.7);
	padding: 40px;
	width: 320px;
	margin: auto;
	margin-top: 150px;
	height: 400px;
}
input{
	width: 240px;
	text-align: center;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	font-family: 'Raleway',sans-serif;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0px;
	transition: border 0.5s;
	outline: none;
	color: #fff;
}
input[type=button]{
	border: none;
	width: 190px;
	margin-left: 19px;
	background: white;
	color: #000;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
	cursor: pointer;
}
input[type=button]:hover{
	color: white;
	background-color: black;
}
h2{
	font-family: 'Raleway',sans-serif;
	color: white;
	padding-left: 85px;
	padding-bottom: 15px;
	letter-spacing: 1px;
}
.sign-in a{
	color: yellow;
	text-decoration: blink;
}
a:hover{color: skyblue;}
.container{
	display: flex;
	flex-direction: row;
	width: 100%;
}
::placeholder{
	color: aliceblue;
	opacity: 0.8;
}